/*panel*/
.panel{float:left; width:100%; border-radius:0; background:$white; padding:15px;}
//input.form-control{border:none; border-bottom:1px solid $black; border-radius:0; background:transparent;}

/*heading*/
.heading{float:left; width:100%; padding:15px 0; border-bottom:3px solid $purple; margin:0 0 30px 0;
    h1{float:left; width:100%; color:$purple; font-size:24px; font-weight:600; text-transform:uppercase; margin:15px 0; padding:0;}
}

/*routines*/
.sections{float:left; width:100%; padding:15px;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.section{float:left; width:100%; margin:10px 0;}
.section{float:left; width:100%;
    .remove-section{/*border-radius:50%; width:50px; height:50px;*/ float:right; clear:both;}
    .add-exercise{/*border-radius:50%; width:50px; height:50px;*/ clear:both;}
    .remove-exercise{/*border-radius:50%; width:50px; height:50px;*/ float:right; clear:both;}
    .exercise{float:left; width:100%; background:#f3f3f3; border:1px dotted #ccc; padding:15px;}
}
.add-section{margin:30px 0 15px 0;}


//item list
ul.itemList{float:left; width:100%; margin:0 0 15px 0; padding:0; list-style-type:none;
    li{float:left; width:100%; margin:0; padding:0;
        a{float:left; width:100%; padding:10px; background:$blue; color:$white; border:1px solid lighten($blue,7%); border-top-color:$blue;
            &:hover{background:lighten($blue,7%);}
        }
    }
}

//routine side list
ul.sideRoutineList{float:left; width:320px; height:500px; overflow-y:auto; margin:0; padding:0; list-style-type:none; border:1px solid $teal;
    li{float:left; width:100%; margin:0; padding:0;
        ul.sideSectionList{float:left; width:100%; margin:0; padding:0; border:1px solid $blue; background:$blue; list-style-type:none;
            li{float:left; width:100%; margin:0; padding:0; color:$white; padding:10px;
                .name{float:left; width:100%; text-transform:uppercase; font-weight:400; font-size:15px;}
                ul.sideExerciseList{float:left; width:100%; margin:0; padding:0; list-style-type:none;
                    li{float:left; width:100%; padding:0; margin:0 0 1px 0; background:$purple; color:$white;}
                }
            }
        }
    }
}

//routine programme
.routineProgramme{float:left; width:100%; padding:30px; position:relative;
    .progressBar{float:left; width:100%; background:$blue; height:5px; overflow:hidden;
        .progress{float:left; width:100%; background:$yellow; height:5px;}
    }
    ul.sectionList{float:left; width:100%; padding:0; margin:0; list-style-type:none;
        li.section{float:left; width:100%; padding:0; margin:0; font-size:1.75rem; font-weight:600; background:beige; display:none;
            ul.exerciseList{float:left; width:100%; padding:0; margin:0; list-style-type:none; position:relative; overflow:hidden; height:500px;
                li.exercise{float:left; width:100%; padding:0; margin:0; position:absolute; top:0; bottom:0; left:100%; border:none;
                    .title{float:left; width:100%; text-align:center; font-size:2.5rem; font-weight:600;}
                    .description{float:left; width:100%; text-align:center; font-size:1.25rem; line-height:1.5;}
                    &.active{left:0;}
                }
            }
            &.active{display:block;}
        }
    }
    .finish{float:left; width:100%; position:absolute; top:35px; left:0; bottom:30px; z-index:5; background:$white; display:none;
        color:$black; font-size:3rem; padding:120px 30px; text-align:center;
    }
    .navigation{float:left; width:100%;
        .previous, .next{float:left; width:50%; padding:10px; background:$blue; color:$white; border:1px solid #ccc;
            &:hover{background:lighten($blue,7%); cursor:pointer;}
        }
        .previous{text-align:left;}
        .next{text-align:right;}
    }
}

/*scrollbars*/
.scrollbar{scrollbar-width:thin; scrollbar-color:$purple $teal;}
.scrollbar::-webkit-scrollbar{width:12px;}
.scrollbar::-webkit-scrollbar-track{background:$teal;}
.scrollbar::-webkit-scrollbar-thumb{background-color:$purple; border-radius:20px; border:3px solid $teal;}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1280px) {

}